.container {
    display: flex;
    justify-content: left;
    padding: 20px;
  }
  
  .image {
    flex: 1;
    max-width: 20%;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .table {
    flex: 1;
    max-width: 20%;
    text-align: left;
    justify-content: left;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  